@import "css/variables.scss";

.Array {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.displayArray {
  display: flex;
  width: fit-content;
  p {
    font-size: 2rem;
    // padding: 0 5px;
  }
}

.condition {
  p {
    font-size: 1.3rem;
    margin: $lh 0 0;
  }
}
